.item-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item-img {
  height: 90px;
  width: 100px;
  border: 2px solid black;
  object-fit: contain;
}

.item-title{
    font-weight: 500;
}

.remove-btn{
    padding-left: 20px;
}